<h5>Exemplos de Pipes</h5>

<p><b>Título: </b>{{ livro.titulo | camelCase }}</p>
<p><b>Estrelas:</b> {{ livro.rating | number:'1.1-1' }}</p>
<p><b>Páginas: </b> {{ livro.numeroPaginas | number }}</p>
<p><b>Preço: </b>{{ livro.preco | currency:'BRL' }}</p>
<p><b>Data Lançamento:</b> {{ livro.dataLancamento | date  }}</p> 
<!--p><b>Url:</b> {{ livro.url }}</p-->
<a href="{{livro.url}}" target="_blank">Link para o livro</a>
<br>
<p><b>Livro: </b> {{ livro | json }}</p>



<input type="text" [(ngModel)]="filtro">

<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)" >Add Curso</button>

<h5>Pipe Puro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro" >
        {{ liv }}
    </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro" >
        {{ liv }}
    </li>
</ul>

<h5>Maneira correta de usar filtros nos projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()" >
        {{ liv }}
    </li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>