/* You can add global styles to this file, and also import other style files */
body{
    background-color: #191919;   
   }

   p {
       color: aliceblue;
   }

   h5 {
       color: aliceblue;
   }

   li {
       color: aliceblue;
   }