<!--app-diretivas-ngif></app-diretivas-ngif-->
<!--app-diretiva-ngswitch></app-diretiva-ngswitch-->
<!--app-diretiva-ngfor></app-diretiva-ngfor-->
<!--app-diretiva-ngclass></app-diretiva-ngclass-->
<!--app-diretiva-ngstyle></app-diretiva-ngstyle-->
<!--app-operador-elvis></app-operador-elvis-->

<!-- sem seleto -->
<!--app-rxemplo-ng-content>
    Conteúdo passado para o component.
    <app-operador-elvis></app-operador-elvis>
</app-rxemplo-ng-content-->


<!--app-rxemplo-ng-content>
    <div class="titulo">
        Título do painel
    </div>
    <div class="corpo">
        Conteúdo passado para o componente. 
    </div>
</app-rxemplo-ng-content-->

<app-diretivas-customizadas>
    
</app-diretivas-customizadas>
